<form action="/payments/add" method="POST" class="payment-form"> 
    <div>
        <label for="playerName">Player Name:</label>
        <select id="playerName" name="playerName" class="form-input" required>
            <option value="" disabled selected>Select a player</option>
            {{#each players}}
                <option value="{{this.id}}">{{this.username}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <label for="paymentAmount">Payment Amount:</label>
        <input type="text" id="paymentAmount" name="paymentAmount" class="form-input" required>
    </div>
    <div>
        <label for="paymentDate">Payment Date:</label>
        <input type="date" id="paymentDate" name="paymentDate" class="form-input" required>
    </div>
    <button type="submit" class="form-button">Submit Payment</button>
</form>
