<head>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<div class="sectionContent">
    <h1>Ignacio Valenzuela</h1>
    <h3>Computer Programmer</h3>
</div>