<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav>
        <ul>
            {{!-- <li><img src="\images\logoNoLetters.png" id="logo"></li> --}}
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    {{{body}}}

    <footer>
        <a href="https://github.com/IgnacioV7s" target="_blank">
            <img width="35px" height="35px" src="https://img.icons8.com/nolan/64/github.png" alt="github" />
        </a>
        <a href="https://www.linkedin.com/in/ignaciov7" target="_blank">
            <img width="35px" height="35px" src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin" />
        </a>
    </footer>
</body>

</html>