<head>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/projects.css">
</head>

<div class="sectionContent">
    <h1>IGNACIO VALENZUELA</h1>
</div>