<head>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/projects.css">
</head>

<div class="carousel-container">
    <div class="sectionContent">
        <div class="firstProject">
            <h1>Nestor Valenzuela Music Portfolio</h1>
            <img src="images/NestorWebsite.png" class="projectPhoto" alt="">
            <p>This project is a dynamic and visually engaging music portfolio website designed for my brother, showcasing
            his musical productions, albums, and singles. The site features an interactive gallery, where hovering over
            a single’s cover makes it spin like a vinyl record. Visitors can explore a dedicated photo gallery, listen
            to his discography, and connect through streaming platforms such as Spotify, YouTube, Apple Music, and
            Tidal. The goal was to create a seamless and immersive experience that highlights his artistic journey while
            providing an intuitive way for fans to engage with his music.</p>
        </div>
        <div class="secondProject">
            <h1>Panic Button App</h1>
            <img src="images/panicButton.png" class="projectPhoto" alt="">
            <p>This Android mobile application was developed using Ionic, Vue.js, Node.js, and MySQL to provide real-time
            alerts and efficient user management. The app enables role-based access control, allowing administrators to
            manage users and permissions seamlessly. I was responsible for designing, implementing, and integrating the
            API, ensuring smooth communication between the frontend and backend. With a robust database architecture,
            the system securely stores user data while delivering instant notifications. This project showcases my
            expertise in full-stack development, API consumption, and real-time communication in mobile applications.</p>
        </div>
    </div>

    <div class="carousel-controls">
        <button id="prev" class="carousel-btn">←</button>
        <button id="next" class="carousel-btn">→</button>
    </div>
    <script src="javascripts/carousel.js"></script>
</div>