<div id="error-container">
    <div id="error-header">
      <h1 id="error-message">{{message}}</h1>
      <h2 id="error-status">Error Code: {{error.status}}</h2>
    </div>
    <pre id="error-stack">{{error.stack}}</pre>
    <a href="/" id="back-home-btn"><button>Back to Home</button></a>
  </div>