<div class="home-container">
    <h1>Welcome to Real Unión F.C.</h1>
    <h3>Fee Management Platform</h3>

    {{#if user}}
    <!-- Si el usuario está autenticado -->
    <p>Hello, {{user.username}}!
        <br>
        We're glad to have you here.
    </p>
    <div id="redirectBtns">
        <a id="goToPay" href="/payments/general">Go to Payments</a>
        <a id="goToLogout" href="/logout">Logout</a>
    </div>
    {{else}}
    <!-- Si el usuario no está autenticado -->
    <a href="/auth/login">Go to Login</a>
    {{/if}}
</div>