<form id="loginInput" method="POST" action="/auth/login">
    <img src="/images/RU.png" id="realLogo" alt="Real Uni칩n Logo">

    {{!-- Mensaje de error (si existe) --}}
    {{#if errorMessage}}
    <div class="error-message">
        <p>{{errorMessage}}</p>
    </div>
    {{/if}}

    {{!-- Campo de entrada para el correo electr칩nico --}}
    <fieldset class="form-group">
        <label for="email" class="col-2 control-label">Email:</label>
        <input class="fieldsetInput" name="email" id="email" placeholder="tucorreo@correo.com" value="{{email}}" required />
    </fieldset>

    {{!-- Campo de entrada para la contrase침a --}}
    <fieldset class="form-group">
        <label for="password" class="col-2 control-label">Password:</label>
        <div class="password-container">
            <input class="fieldsetInput" name="password" id="password" type="password" placeholder="***********" required />
            <button type="button" id="togglePassword" class="password-toggle">
                <img id="eyeIcon" src="https://img.icons8.com/ios/50/visible--v1.png" alt="Show Password">
            </button>
        </div>
    </fieldset>

    {{!-- Bot칩n para enviar el formulario --}}
    <button type="submit" class="submitButton">Login</button>

    <div id="needAccount">
        <p>Need an account?</p>
        <a href="/auth/register" class="register-link" title="Register">Register</a>
    </div>

    <fieldset class="form-group">
        <a href="/auth/google" class="google-btn" title="Login with Google">
            <img src="https://img.icons8.com/color/48/google-logo.png" alt="Google Logo" class="google-logo">
            Or login with Google
        </a>
    </fieldset>
</form>

<script src="/javascripts/login.js"></script>