/* Logo */
#realLogo {
  height: 15em;
  width: auto;
  margin-bottom: 1em;
}

/* Formulario de Login */
#loginInput {
  width: 20dvw;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid #d0b928;
  padding: 1em;
  border-radius: 15px;
}

/* Cada fieldset */
.form-group {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

/* Cada cuadro de texto dentro del fieldset */
.fieldsetInput {
  padding: 10px;
  border-radius: 2em;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  text-align: center;
  border: 1.5px solid #d0b928;
}

/* Campo de texto de la contraseña (para alinear con el botón de hacer visible o no) */
.password-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

/* Botón para hacer visible la contraseña */
.password-toggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Ícono del botón para hacer visible la contraseña */
#eyeIcon {
  width: 20px;
  height: 20px;
}

.submitButton{
  background-color: #d0b928;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 2em;
  font-size: 14px;
  cursor: pointer;
  max-width: max-content;
}

#needAccount {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-link {
  margin-left: 0.5em;
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}

.form-group {
  display: flex;
  justify-content: center;
}

.google-btn {
  display: flex;
  align-items: center;
  padding: 0.5em 1.25em;
  background-color: white;
  border: 1px solid #d0b928;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-size: 1rem;
  color: #444;
  transition: all 0.3s ease;;
}

.google-btn:hover {
  background-color: #f7f7f7;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  cursor: pointer;
  text-decoration: none;
}

.google-logo {
  width: 24px;
  height: 24px;
  margin-right: 0.75em;
}
